:root {
  --background-color: #ffffff;

  --component-atombutton-backgroundColor: #ffffff;
}

:root[data-theme='dark'] {
  --background-color: #09090b;
}

html {
  background-color: var(--background-color);
}
